@mixin flex-specBet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
